<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News Detector</title>

    <!-- Bootstrap css link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles -->
    <link type="text/css" href="{{url_for('static',filename='styles/style.css')}}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
</head>

<body>
    <h4 class="title">FAKE NEWS DETECTOR</h4>

    <textarea class="form-control" rows="7" id="textArea" placeholder="Enter your news here . ."></textarea>
    <button type="submit" onclick="get_detection()" class="btn btn-dark">Detect</button>

    <h5 id="result">Result : __________</h5>

    <div id="condition">*According to 42,000+ news articles (Using Logistic Regression model)</div>
    <div id="copyright">&#169; Sai Teja Erukude 2022</div>
</body>


<script>
    function get_detection () {
        var user_news = $( "#textArea" ).val();

        $.get( "/detect", { user_news: user_news } ).done( function ( res ) {
            var result = document.getElementById( "result" );
            if ( result.classList.contains( "fake" ) )
                result.classList.remove( "fake" );
            if ( result.classList.contains( "real" ) )
                result.classList.remove( "real" );

            if ( res[ 1 ] == 0 ) {
                result.innerHTML = "This news is FAKE!*";
                result.classList.add( "fake" );
            } else if ( res[ 1 ] == 1 ) {
                result.innerHTML = "This news is REAL!*";
                result.classList.add( "real" );
            }
        } ).fail( function () {
            alert( "Max word limit reached!" );
        } );
    }
</script>

</html>