body {
    width: 60vw;
    padding: 3em 3em 1em 3em;
    margin: 3em auto 0 auto;
    box-shadow: 7px 7px 10px #c8c1c1;
    border-radius: 10px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .25);
}

.title {
    margin: 0 auto 2.5em auto;
}

.btn {
    margin: 2em auto 5em auto;
    width: 20vw;
}

#condition {
    margin: 7em auto 1em auto;
    color: rgba(0, 0, 0, .65);
    font-size: 12px;
}

#copyright {
    margin: 1em auto 0.5em auto;
    color: rgba(0, 0, 0, .65);
    font-size: 12px;
}

.fake {
    color: rgb(226, 41, 41);
}

.real {
    color: rgba(4, 251, 4);
}

@media only screen and (max-width: 500px) {
    body {
        width: 90vw;
        padding: 2em;
    }

    .title {
        margin: 0 auto 1.5em auto;
    }
}